{% extends 'app_users/base_layout.html' %}
{% load static %}

<!-- HOME PAGE ------------------------------- -->
{% block content %}
<link href="{% static 'base.css' %}" rel="stylesheet">
<div class="home" id="app">
    <div class="topnav">
        <a href="/settings">
            <img src="{% static 'settings.svg' %}">
        </a>
        <img src="{% static 'fiber-amie-icon.png' %}">


    </div>
    {% if user.is_authenticated %}
    <div class="home-body">
        <p>Hi, {{ user.username }}</p>
        <p>Your recent projects...</p>
        <img src="{% static 'cowl.jpg' %}">
    </div>



    {% endif %}
    <div class="navbar">
        <div class="icon">
            <a href="/home">
                <img src="{% static 'home.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/search">
                <img src="{% static 'search.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'projects.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/stash">
                <img src="{% static 'stash.png' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/storage">
                <img src="{% static 'needles.png' %}">
            </a>
        </div>

    </div>
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock %}