{% extends 'app_users/base_layout.html' %}
{% load static %}

<!-- HOME PAGE ------------------------------- -->
{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">

<div class="home" id="app">

    <div class="topnav">
        <img @click="showMenu = true" src="{% static 'images/settings.svg' %}">
            <div class="menu-overlay" v-if="showMenu" @click="showMenu = false"></div>
            <div class="modal" v-show="showMenu">
                {% csrf_token %}
                <a href="/settings" id="settings">Settings</a><br>
                <a href="/logout/">Log Out</a>
            </div>

            <h1><i>fiber amie</i></h1>
        <img src="{% static 'images/fiber-amie-icon.png' %}">
    </div>





    {% if user.is_authenticated %}
    <div class="home-body">
        <p>Hi, {{ user.username }}</p>
        <p>Your recent projects...</p>
        <div class="project-list">
            <div class="project-card" v-for="project in projects">
                <p><b>[[ project.pattern_name ]]</b> by [[ project.designer ]]
                </p><br>
                <div class="project-image">
                    <img class="cover" :src="[[ project.image ]]"><br>
                </div>
                
                
            </div>
        </div>
    </div>



    {% endif %}
    <div class="navbar">
        <div class="icon">
            <a href="/home">
                <img src="{% static 'images/home.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/search">
                <img src="{% static 'images/search.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'images/projects.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/stash">
                <img src="{% static 'images/stash.png' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/tools">
                <img src="{% static 'images/needles.png' %}">
            </a>
        </div>

    </div>
</div>
<!-- <script>
    document.querySelector(".sidenav-toggle").addEventListener("click", () => {
        document.querySelector(".wrapper").classList.toggle("side-nav-open");
    })
</script> -->
<script src="{% static 'js/projects.js' %}"></script>
{% endblock %}