{% extends 'app_users/base_layout.html' %}
{% load static %}

<!-- HOME PAGE ------------------------------- -->
{% block content %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">


<div class="home" id="app">

    <!-- <div class="wrapper side-nav-open">
        <div class="home-body">
            <p> HELLO</p>
        </div>
        <button class="sidenav-toggle" type="button">
            <span class="hamburger-open">&#9776;</span>
            <span class="hamburger-close">&#10006;</span>
        </button>
        <div class="side-nav">
            <a href="/logout">Log Out</a>
        </div>
    </div> -->


    <div class="topnav">
        <a href="/settings">
            <img src="{% static 'images/settings.svg' %}">
        </a>
        <img src="{% static 'images/fiber-amie-icon.png' %}">
    </div>

    {% if user.is_authenticated %}
    <div class="home-body">
        <p>Hi, {{ user.username }}</p>
        <p>Your recent projects...</p>
        <img src="{% static 'images/cowl.jpg' %}">
    </div>



    {% endif %}
    <div class="navbar">
        <div class="icon">
            <a href="/home">
                <img src="{% static 'images/home.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/search">
                <img src="{% static 'images/search.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'images/projects.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/stash">
                <img src="{% static 'images/stash.png' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/tools">
                <img src="{% static 'images/needles.png' %}">
            </a>
        </div>

    </div>
</div>
<!-- <script>
    document.querySelector(".sidenav-toggle").addEventListener("click", () => {
        document.querySelector(".wrapper").classList.toggle("side-nav-open");
    })
</script> -->
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}