{% extends 'app_users/base_layout.html' %}
{% load static %}
{% block content %}

<!-- LANDING -------------------------  -->
<link href="{% static 'css/index.css' %}" rel="stylesheet">
    <!-- <img src="app_users/text-logo.png"> -->
<div class="landing" id="app">
    <img id="logo" src="{% static 'images/text-logo.png' %}">
    <p>A mobile-friendly, accessible fiber companion app - keep track of your yarn stash, crochet hooks & knitting needles, and the projects you're working on - easily, and on the go!</p>
    <a class="button" href="sign_up/">Sign Up</a>
    
    <a class="button" href="login/">Log In</a>
  
</div>
<!-- <script src="{% static 'js/script.js' %}"></script> -->
{% endblock %}
