{% extends 'app_users/base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--SETTINGS -------------------------  -->
<link href="{% static 'base.css' %}" rel="stylesheet">

<div class="settings" id="app">
    <h1>Settings</h1>

    <!-- do click events to toggle each section -->

    <div class="settings-menu">
        <a href="preferences/" id="preferences">Preferences</a>
        <a href="access-settings/">Accessibility</a>
        <a href="logout/">Log Out</a>
    </div>

    <div class="settings-container">
        <h4>Color Theme</h4>
        <h4>Color Theme</h4>
        <h4>Color Theme</h4>
        <h4>Color Theme</h4>
        <h4>Color Theme</h4>
    </div>


    <div class="navbar">
        <div class="icon">
            <a href="/home">
                <img src="{% static 'home.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/search">
                <img src="{% static 'search.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'projects.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/stash">
                <img src="{% static 'stash.png' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/tools">
                <img src="{% static 'needles.png' %}">
            </a>
        </div>

    </div>
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock %}