{% extends 'app_users/base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--SETTINGS -------------------------  -->
<link href="{% static 'css/settings.css' %}" rel="stylesheet">

<div class="settings" id="app">
    <h1><i>settings</i></h1>
    <div id="logout">
        <a href="/logout/">Log Out</a>
    </div>

    <div class="settings-container">
        <h4>Theme Options</h4><br>
        <div class="settings-inner">
            <input type="checkbox" name="high-contrast" value="high-contrast">
            <label for="high-constrast">High constrast</label><br>
        </div>
        <div class="settings-inner">
            <input type="checkbox" name="low-contrast" value="low-contrast" checked>
            <label for="low-contrast">Low constrast</label><br><br>
        </div>
        <div class="settings-inner">
            <input type="checkbox" name="purple" value="purple" checked>
            <label for="purple">Purple/pink</label><br>
        </div>
        <div class="settings-inner">
            <input type="checkbox" name="sage" value="sage">
            <label for="sage">Sage/green</label><br><br>
        </div>
        <div class="settings-inner">
            <input type="checkbox" name="standard" value="standard" checked>
            <label for="standard">Standard font size</label><br>
        </div>
        <div class="settings-inner">
            <input type="checkbox" name="large" value="large">
            <label for="large">Large font size</label><br>
        </div>

        <h4>About</h4>
        <p>
            Fiber Amie version 1.0<br>
            Created by Aimee Young &copy; 2022
        </p>
    </div>


    <div class="navbar">
        <div class="home-icon">
            <a href="/home">
                <img src="{% static 'images/homeactive.svg' %}">
                <p id="nav-text">Home</p>
            </a>
        </div>
        <div class="icon">
            <a href="/counter">
                <img src="{% static 'images/counter.svg' %}">
                <p id="nav-text">Counter</p>
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'images/projects.svg' %}">
                <p id="nav-text">Projects</p>
            </a>
        </div>
        <div class="icon">
            <a href="/stash">
                <img src="{% static 'images/stash.svg' %}">
                <p id="nav-text">Stash</p>
            </a>
        </div>
        <div class="icon">
            <a href="/tools">
                <img src="{% static 'images/tools.svg' %}">
                <p id="nav-text">Tools</p>
            </a>
        </div>
        <div class="icon" id="settings-desktop">
            <a href="/settings">
                <img src="{% static 'images/settings.svg' %}">
                <p id="nav-text">Settings</p>
            </a>
        </div>
    </div>
</div>
<script src="{% static 'js/settings.js' %}"></script>
{% endblock %}