@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

@media screen and (min-width: 360px) {
    body {
        max-height: 100vw;
        padding-bottom: 4rem;
        background-image: linear-gradient(#f4e2ea, #b299a4);
        background-attachment: fixed;
    }
    .counter {
        margin-bottom: 5rem;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        color: #896283;
        text-shadow: 1px 1px #383838;
        margin-bottom: .25rem;
        margin-top: -.5rem;
        text-align: center;
        font-weight: 800;
    }
    .topnav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 3rem;
        margin-bottom: 2rem;
        padding: 0;
        left: 0;
        top: 0;
        z-index: 200;
    }
    .topnav img {
        height: 2.5rem;
        width: 2.5rem;
    }
    .navbar {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        z-index: 200;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #F4E2EA;
        border-top: 1px solid #fff;
    }
    .counter-icon {
        background: #dfc8d2
    }
    h4 {
        font-family: 'Noto Sans', sans-serif;
        
    }
    p {
        font-family: 'Noto Sans', sans-serif; 
    }
    img {
        height: 4rem;
        width: 4rem;
    }
    /* SETTINGS MODAL  */
    .menu-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 98;
    }
    .modal {
        position: fixed;
        top: 25%;
        left: 20%;
        transform: translate(-50%, -50%);
        z-index: 99;
        width: 25%;
        height: 35%;
        background-color: #fff;
        border-radius: 15px;
        padding: 1rem;
        font-family: 'Noto Sans', sans-serif;
        border: 2px solid #896283;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    /* COUNTER  */
    .counter-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .counter {
        font-family: 'Noto Sans', sans-serif;
        color: #F4E2EA;
        width: 45vh;
        height: 45vh;
        border-radius: 50%;
        margin: auto;
        border: 10px solid #63485f;
        font-size: 10rem;
        background: #896283;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .minus, .reset, .delete {
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
        color: #383838;
        font-size: 1.6rem;
        outline: none;
        border: none;
        background: #dfc8d2;
        cursor: pointer;
        display: inline-block;
        width: 7rem;
        height: 2.25rem;
        padding: .5rem;
        box-shadow: 3px 3px #896283;
        transition: .4s ease-out; 
        border-radius: 15px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: .5rem;
    }

    /* NEW COUNTER FORM  */
    .counter-form, .counter-select, label, button, .delete {
        font-family: 'Noto Sans', sans-serif;
        font-size: .8rem;
    }
    .counter-form {
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .counter-select {
        display: flex;
        flex-direction: column;
        justify-content: right;
    }
    .counter-menu {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }


}



