@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media screen and (min-width: 360px) {
    body {
        max-height: 100vw;
        padding-bottom: 4rem;
        /* background-color: #F4E2EA; */
        background-image: linear-gradient(#f4e2ea, #dfc8d2);
        background-attachment: fixed;
    }
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        color: #896283;
        text-shadow: 1px 1px #383838;
        margin-bottom: .25rem;
        margin-top: -.5rem;
        text-align: center;
        font-weight: 800;
    }
    .topnav {
        /* position: fixed; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 3rem;
        margin-bottom: 2rem;
        padding: 0;
        left: 0;
        top: 0;
        z-index: 200;
    }
    .topnav img {
        height: 2.5rem;
        width: 2.5rem;
    }
    .navbar {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        z-index: 200;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #F4E2EA;
        border-top: 1px solid #fff;
    }
     /* MODAL FORM  */
    .modal-overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 98;
    }
    .modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        width: 90%;
        background-color: #fff;
        border-radius: 15px;
        padding: 1rem;
        font-family: 'Raleway', sans-serif;
        border: 2px solid #896283; 
    }
    .modal input {
        margin-bottom: .5rem;
    }
    .project-list 
    .project-card {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        padding: 1rem;
        border: 2px solid #fff;
        width: 87%;
        max-height: 10rem;
        border-radius: 15px;
        background:#dfc8d2;
        align-items: center;
        text-align: center;
        margin: .25rem;
    }
    h4 {
        font-family: 'Raleway', sans-serif;
        
    }
    p {
        font-family: 'Raleway', sans-serif; 
    }
    img.cover {
        height: 8rem;
        width: 8rem;
    }
    .cover {
        object-fit: cover;
    }
    .button {
        margin-left: 4rem;
        margin-right: 4rem; 
        font-family: 'Raleway', sans-serif;
        outline: none;
        border: none;
        background: #dfc8d2;
        cursor: pointer;
        display: inline-block;
        padding: 15px 25px;
        box-shadow: 3px 3px #896283;
        transition: .4s ease-out; 
        border-radius: 15px;
    }
    .button:hover {
        background: #fbebf2;
    }
    #delete-project {
        font-family: 'Raleway', sans-serif;
        background: #896283;
        color:#fff;
        border: none;
        padding: .4rem;
        border-radius: 10px;
        margin: .25rem;
        cursor: pointer;
    }

}