@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media screen and (min-width: 360px) {
    
    img {
        width: 3.75rem;
        height: 3.75rem;
    }
    .landing {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .landing > h1 {
        font-family: 'Berkshire Swash', cursive;
        font-size: 5rem;
        color: #896283;
        text-shadow: 1px 1px #383838;
        margin-bottom: -2rem;
        margin-top: -.5rem;
    }
    .landing > h1 > #color {
        color: #383838;
        text-shadow: 1px 1px #896283;
    }
    .landing h4 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 1.5rem;
    }
    .landing > p {
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        margin-right: 2rem;
        margin-left: 2rem;
        text-align: center;
    }
    .landing > .button {
        background-color: #896283;
        color: #fff;
        padding: 1rem;
        padding-right: 2rem;
        padding-left: 2rem;
        margin: .75rem;
        font-family: 'Raleway', sans-serif;
        font-size: 2rem;
        font-weight: 600;
        border: 1px solid #896283;
        border-radius: 30px;
        text-decoration: none;
        transition-duration: .4s;
    }
    /* .landing > a:hover {
        background-color: #644760;
        color: #fff;
    } */
    #logo {
        width: 100%;
        height: 100%;
        margin-top: -8rem;
        margin-bottom: -6rem;
    }
    .landing > a {
        text-decoration: none;
    }
    a:hover {
        color:#000000;
        

    }
    
    h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        color: #896283;
        text-shadow: 1px 1px #383838;
        margin-bottom: .25rem;
        margin-top: -.5rem;
        text-align: center;
        font-weight: 800;
    }

    /* STASH PAGE  */
    .stash {
        padding-bottom: 5rem;
    }
    .yarn-list {
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: scroll;
        justify-content: center;
    }
    .yarn-card {
        padding: 1rem;
        border: 1px solid #fff;
        width: 40%;
        /* center content within this box  */
    }
    .stash p {
        font-family: 'Raleway', sans-serif;
        font-size: .9rem;
        text-align: left;
    }
    .stash h4 {
        font-family: 'Raleway', sans-serif;
        
    }
    
    .home h1 {
        font-family: 'Berkshire Swash', cursive;
        font-size: 5rem;
        color: #896283;
        text-shadow: 1px 1px #383838;
        margin-bottom: -2rem;
        margin-top: -.5rem;
    }
    .home p {
        font-family: 'Raleway', sans-serif;
        font-size: 1rem;
        text-align: left;
    }
    .topnav {
        /* position: fixed; */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 3rem;
        margin-bottom: 2rem;
        padding: 0;
        left: 0;
        top: 0;
        z-index: 200;
    }
    .topnav img {
        height: 2.5rem;
        width: 2.5rem;
    }
    .navbar {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100vw;
        z-index: 200;
        height: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #F4E2EA;
        border-top: 1px solid #fff;
    }
    
    .home {
        /* margin-top: 4.25rem; */
        margin: 0;
    }



    body {
        max-height: 100vw;
        /* padding-bottom: 4rem; */
        background-color: #F4E2EA;
    }


    /* SIDE NAV  */
    div.wrapper {
        display: flex;
        height: 80vh;
    }
    .home-body {
        flex-grow: 1;

    }
    .sidenav-toggle {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        display: grid;
        place-items: center;
        color: #fff;
        background: #896283;
        border: none;
        border-radius: 5px 0 0 5px;
        outline: none;
        cursor: pointer;

    }
    .sidenav-toggle:hover {
        background: #644760;
    }
    .hamburger-close {
        display: none;
    }
    .side-nav {
        display: none;
        width: 5rem;
        flex-shrink: 0;
        color: #fff;
        background: #896283;
        box-shadow: 0 0 10px rgba(0, 0, 0, .35)
    }
    .side-nav-open .side-nav {
        display: initial;
    }
    .side-nav-open .hamburger-open {
        display: none;
    }
    .side-nav-open .hamburger-close {
        display: initial;
    }

    /* LOG IN  */
    .login h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3rem;
        color: #896283;
        text-shadow: 1px 1px #383838;
        margin-bottom: 2rem;
        text-align: center;
        font-weight: 800;
    }
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .login-form-container {
        margin-right: auto;
        margin-left: auto;

    }
    .login label {
        font-family: 'Raleway', sans-serif;
        margin-top: 2rem;
    }
    .login button {
        background-color: #896283;
        color: #fff;
        padding-right: 2rem;
        padding-left: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
        margin-right: auto;
        margin-left: auto;
        margin: .75rem;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        font-weight: 600;
        border: 1px solid #896283;
        border-radius: 30px;
        text-decoration: none;
        transition-duration: .4s;
    }
    
    /* SETTINGS  */

    .settings a {
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        color: #383838;
        font-weight: 500;
        padding: .5rem;
    }
    .settings h4 {
        font-family: 'Raleway', sans-serif;
    }
    .settings-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #preferences {
        background: #fff;
    }
    .settings-container {
        background: #fff;
        height: 70vh;
        padding: 1rem;
    }


 
}