{% extends 'app_users/base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--PROJECTS -------------------------  -->
<link href="{% static 'css/projects.css' %}" rel="stylesheet">

<div class="projects" id="app">
    <!-- TOP NAV AND PAGE HEADER  -->
    <div class="topnav">
        <img @click="showMenu = true" id="settings-mobile" src="{% static 'images/settings.svg' %}">
        <div class="menu-overlay" v-if="showMenu" @click="showMenu = false"></div>
        <div class="modal" v-show="showMenu">
            {% csrf_token %}
            <a href="/settings" id="settings">Settings</a><br>
            <a href="/logout/">Log Out</a>
        </div>
        <!-- <img id="logo" src="{% static 'images/text-logo.png' %}"> -->
        <h1><i>projects</i></h1>
        <img id="mini-logo" src="{% static 'images/fiber-amie-icon.png' %}">
    </div>

    <!-- ADD PROJECT BUTTON AND FORM  -->
    <div class="button-div">
        <button class="button" @click="showModal = true">
            Add Project
        </button>
    </div>
    <div class="modal-overlay" v-if="showModal" @click="showModal = false"></div>
    <div class="form-modal" v-show="showModal">
        {% csrf_token %}
        <form @submit.prevent="addProject">
            <label for="pattern_name">Pattern name</label><br>
            <input v-model="pattern_name" type="pattern_name" id="pattern_name"><br>
            <label for="designer">Designer</label><br>
            <input v-model="designer" type="designer" id="designer"><br>
            <label for="needles">Needle Size (if knit)</label><br>
            <input v-model="needles" type="needles" id="needles"><br>
            <label for="hook">Hook Size (if crochet)</label><br>
            <input v-model="hook" type="hook" id="hook"><br>
            <label for="gauge">Gauge</label><br>
            <input v-model="gauge" type="gauge" id="gauge"><br>
            <label for="yarn">Yarn Brand & Name</label><br>
            <input v-model="yarn" type="yarn" id="yarn"><br>
            <label for="colorway">Colorway</label><br>
            <input v-model="colorway" type="colorway" id="colorway"><br>
            <label for="total_yardage">Total yardage used</label><br>
            <input v-model="total_yardage" type="total_yardage" id="total_yardage"><br>
            <label for="notes">Project notes</label><br>
            <input v-model="notes" type="textarea" id="notes"><br>
            <label for="image">Image</label><br>
            <input @change="imageSelected" type="file" id="image"><br>
        </form>
        <button type="submit" class="button" @click="showModal = false; addProject()">
            Submit
        </button>
    </div>


    <!-- PROJECT LIST  -->
    

    <!-- search  -->
    <div class="search">
        <h4><i>Your projects</i></h4>
        <form @submit.prevent="submitSearch">
            <input type="text" v-model="search">
            <button class="search-button" @click="submitSearch">Search</button>
        </form>
    </div>

    <div class="project-list">
        <div class="project-card" v-for="project in projects">
            <div class="project-image">
                <img class="cover" :src="[[ project.image ]]"
                    @click="getProjectDetail(project); showDetails = true"><br>
            </div>
            <div class="project-details" v-if="project.showDetails" @click="showDetails = false"></div>

            <div class="project-card-inner">
                <p>[[ project.pattern_name ]] by [[ project.designer ]]
                    <br>
                    [[ project.yarn ]]
                </p><br>
                <button @click="deleteProject(project)" type="button" id="delete-project">&#10005;</button>
            </div>
        </div>

        <!-- POP UP MODAL WITH PROJECT DETAILS -->
        <div class="project-modal" v-show="project.showDetails">
            <div class="project-overflow">
                <div class="project-info">
                    <button class="button" @click="closeDetails">
                        Back
                    </button>
                    <div v-if="project.image">
                        <img class="cover" id="project-detail-img" :src="[[ project.image ]]">
                    </div>
                    <p id="p-details" v-else>Add an image!</p>

                    <!-- pattern name -->
                    <h4>Pattern Name</h4>
                    <span v-if="!project.edit" @click="project.edit = !project.edit">
                        <p id="p-details">[[ project.pattern_name ]]</p>
                    </span>
                    <div v-if="project.edit">
                        <textarea v-model="project.pattern_name">[[ project.pattern_name ]]</textarea>
                    </div>
                    <button @click="project, 'edit', !project.edit">
                        <span id="edit" v-if="!project.edit" @click="project.edit = !project.edit">&#9998;</span>
                        <span v-if="project.edit" @click="saveName(project)">Save</span>
                    </button>

                    <!-- designer  -->
                    <h4>Designer</h4>
                    <span v-if="!project.edit" @click="project.edit = !project.edit">
                        <p  id="p-details" v-if="project.designer">[[ project.designer ]]</p>
                    </span>
                    <div v-if="project.edit">
                        <textarea v-model="project.designer">[[ project.designer ]]</textarea>
                    </div>
                    <button @click="project, 'edit', !project.edit">
                        <span id="edit" v-if="!project.edit" @click="project.edit = !project.edit">&#9998;</span>
                        <span v-if="project.edit" @click="saveDesigner(project)">Save</span>
                    </button>

                    <!-- needles & hook  -->
                    <h4>Needles</h4>
                    <span v-if="!project.edit" @click="project.edit = !project.edit">
                        <p  id="p-details" v-if="project.needles">US [[ project.needles ]] needles</p>
                    </span>
                    <div v-if="project.edit">
                        <textarea v-model="project.needles">[[ project.needles ]]</textarea>
                    </div>
                    <button @click="project, 'edit', !project.edit">
                        <span id="edit" v-if="!project.edit" @click="project.edit = !project.edit">&#9998;</span>
                        <span v-if="project.edit" @click="saveNeedles(project)">Save</span>
                    </button>

                    <h4>Hook</h4>
                    <span v-if="!project.edit" @click="project.edit = !project.edit">
                        <p  id="p-details" v-if="project.hook">[[ project.hook ]] mm hook</p>
                    </span>
                    <div v-if="project.edit">
                        <textarea v-model="project.hook">[[ project.hook ]]</textarea>
                    </div>
                    <button @click="project, 'edit', !project.edit">
                        <span id="edit" v-if="!project.edit" @click="project.edit = !project.edit">&#9998;</span>
                        <span v-if="project.edit" @click="saveHook(project)">Save</span>
                    </button>

                    <!-- gauge  -->
                    <h4>Gauge</h4>
                    <span v-if="!project.edit" @click="project.edit = !project.edit">
                        <p id="p-details" v-if="project.gauge">[[ project.gauge ]]</p>
                    </span>
                    <div v-if="project.edit">
                        <textarea v-model="project.gauge">[[ project.gauge ]]</textarea>
                    </div>
                    <button @click="project, 'edit', !project.edit">
                        <span id="edit" v-if="!project.edit" @click="project.edit = !project.edit">&#9998;</span>
                        <span v-if="project.edit" @click="saveGauge(project)">Save</span>
                    </button>

                    <!-- yarn info  -->
                    <h4>Yarn</h4>
                    <span v-if="!project.edit" @click="project.edit = !project.edit">
                        <p id="p-details" v-if="project.yarn">[[ project.yarn ]]</p>
                    </span>
                    <div v-if="project.edit">
                        <textarea v-model="project.yarn">[[ project.yarn ]]</textarea>
                    </div>
                    <button @click="project, 'edit', !project.edit">
                        <span id="edit" v-if="!project.edit" @click="project.edit = !project.edit">&#9998;</span>
                        <span v-if="project.edit" @click="saveYarn(project)">Save</span>
                    </button>

                    <h4>Colorway(s)</h4>
                    <span v-if="!project.edit" @click="project.edit = !project.edit">
                        <p id="p-details" v-if="project.colorway">[[ project.colorway ]]</p>
                    </span>
                    <div v-if="project.edit">
                        <textarea v-model="project.colorway">[[ project.colorway ]]</textarea>
                    </div>
                    <button @click="project, 'edit', !project.edit">
                        <span id="edit" v-if="!project.edit" @click="project.edit = !project.edit">&#9998;</span>
                        <span v-if="project.edit" @click="saveColorway(project)">Save</span>
                    </button>

                    <h4>Yardage</h4>
                    <span v-if="!project.edit" @click="project.edit = !project.edit">
                        <p id="p-details" v-if="project.total_yardage">[[ project.total_yardage ]] yards</p>
                    </span>
                    <div v-if="project.edit">
                        <textarea v-model="project.total_yardage">[[ project.total_yardage ]]</textarea>
                    </div>
                    <button @click="project, 'edit', !project.edit">
                        <span id="edit" v-if="!project.edit" @click="project.edit = !project.edit">&#9998;</span>
                        <span v-if="project.edit" @click="saveYardage(project)">Save</span>
                    </button>

                    <h4>Notes</h4>
                    <span v-if="!project.edit" @click="project.edit = !project.edit">
                        <p id="p-details" v-if="project.notes">[[ project.notes ]]</p>
                    </span>
                    <div v-if="project.edit">
                        <textarea v-model="project.notes">[[ project.notes ]]</textarea>
                    </div>
                    <button @click="project, 'edit', !project.edit">
                        <span id="edit" v-if="!project.edit" @click="project.edit = !project.edit">&#9998;</span>
                        <span v-if="project.edit" @click="saveNotes(project)">Save</span>
                    </button>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- BOTTOM NAV  -->
    <div class="navbar">
        <div class="home-icon">
            <a href="/home">
                <img src="{% static 'images/home.svg' %}">
                <p id="nav-text">Home</p>
            </a>
        </div>
        <div class="icon">
            <a href="/counter">
                <img src="{% static 'images/counter.svg' %}">
                <p id="nav-text">Counter</p>
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'images/projectsactive.svg' %}">
                <p id="nav-text">Projects</p>
            </a>
        </div>
        <div class="icon">
            <a href="/stash">
                <img src="{% static 'images/stash.svg' %}">
                <p id="nav-text">Stash</p>
            </a>
        </div>
        <div class="icon">
            <a href="/tools">
                <img src="{% static 'images/tools.svg' %}">
                <p id="nav-text">Tools</p>
            </a>
        </div>
        <div class="icon" id="settings-desktop">
            <a href="/settings">
                <img src="{% static 'images/settings.svg' %}">
                <p id="nav-text">Settings</p>
            </a>
        </div>
    </div>

</div>
<script src="{% static 'js/projects.js' %}"></script>
{% endblock %}