{% extends 'app_users/base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--PROJECTS -------------------------  -->
<link href="{% static 'css/projects.css' %}" rel="stylesheet">

<div class="projects" id="app">
    <!-- TOP NAV AND PAGE HEADER  -->
    <div class="topnav">
        <img @click="showMenu = true" src="{% static 'images/settings.svg' %}">
        <div class="menu-overlay" v-if="showMenu" @click="showMenu = false"></div>
        <div class="modal" v-show="showMenu">
            {% csrf_token %}
            <a href="/settings" id="settings">Settings</a><br>
            <a href="/logout/">Log Out</a>
        </div>

        <h1><i>projects</i></h1>
        <img src="{% static 'images/fiber-amie-icon.png' %}">
    </div>

    <!-- ADD PROJECT BUTTON AND FORM  -->
    <div class="button-div">
        <button class="button" @click="showModal = true">
            Add Project
        </button>
    </div>
    <div class="modal-overlay" v-if="showModal" @click="showModal = false"></div>
    <div class="form-modal" v-show="showModal">
        {% csrf_token %}
        <form @submit.prevent="addProject">
            <label for="pattern_name">Pattern name</label><br>
            <input v-model="pattern_name" type="pattern_name" id="pattern_name"><br>
            <label for="designer">Designer</label><br>
            <input v-model="designer" type="designer" id="designer"><br>
            <label for="needles">Needle Size (if knit)</label><br>
            <input v-model="needles" type="needles" id="needles"><br>
            <label for="hook">Hook Size (if crochet)</label><br>
            <input v-model="hook" type="hook" id="hook"><br>
            <label for="gauge">Gauge</label><br>
            <input v-model="gauge" type="gauge" id="gauge"><br>
            <label for="yarn">Yarn Brand & Name</label><br>
            <input v-model="yarn" type="yarn" id="yarn"><br>
            <label for="colorway">Colorway</label><br>
            <input v-model="colorway" type="colorway" id="colorway"><br>
            <label for="total_yardage">Total yardage used</label><br>
            <input v-model="total_yardage" type="total_yardage" id="total_yardage"><br>
            <label for="notes">Project notes</label><br>
            <input v-model="notes" type="textarea" id="notes"><br>
            <label for="image">Image</label><br>
            <input @change="imageSelected" type="file" id="image"><br>
        </form>
        <button type="submit" class="button" @click="showModal = false; addProject()">
            Submit
        </button>
    </div>


    <!-- PROJECT LIST  -->
    <h4><i>Your projects</i></h4>
    <div class="project-list">
        <div class="project-card" v-for="project in projects">
            <div class="project-image">
                <img class="cover" :src="[[ project.image ]]"
                    @click="getProjectDetail(project); showDetails = true"><br>
            </div>
            <div class="project-details" v-if="project.showDetails" @click="showDetails = false"></div>

            <div class="project-card-inner">
                <p>[[ project.pattern_name ]] by [[ project.designer ]]
                    <br>
                    [[ project.yarn ]]
                </p><br>
                <button @click="deleteProject(project)" type="button" id="delete-project">Delete</button>
            </div>
        </div>

        <!-- POP UP MODAL WITH PROJECT DETAILS -->
        <div class="project-modal" v-show="project.showDetails">
            <div class="project-overflow">
                <button class="button" @click="closeDetails">
                    Back
                </button>
                <div v-if="project.image">
                    <img v-else class="cover" id="project-detail-img" :src="[[ project.image ]]">
                </div>
                <p v-else>Add an image!</p>

                <h4>[[ project.pattern_name ]]</h4>
                <p v-if="project.designer">Designed by [[ project.designer ]]</p>
                <p v-else>no data</p>

                <h4>Needles/Hook</h4>
                <p v-if="project.needles">US [[ project.needles ]] needles</p>
                <p v-else-if="project.hook">[[ project.hook ]] mm hook</p>
                <p v-else>no tool data</p>

                <h4>Gauge</h4>
                <p v-if="project.gauge">[[ project.gauge ]]</p>
                <p v-else>no gauge data</p>

                <h4>Yarn Information</h4>
                <p v-if="project.yarn">[[ project.yarn ]]</p>
                <p v-else>no yarn data</p>
                <p v-if="project.colorway">[[ project.colorway ]]</p>
                <p v-else>no colorway data</p>
                <p v-if="project.total_yardage">[[ project.total_yardage ]] yards</p>
                <p v-else>no yardage data</p>

                <h4>Notes</h4>
                <p v-if="project.notes">[[ project.notes ]]</p>
                <p v-else>no notes</p>
                </p>
            </div>
        </div>
    </div>

    <!-- BOTTOM NAV  -->
    <div class="navbar">
        <div class="icon">
            <a href="/home">
                <img src="{% static 'images/home.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/search">
                <img src="{% static 'images/search.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'images/projects.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/stash">
                <img src="{% static 'images/stash.png' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/tools">
                <img src="{% static 'images/needles.png' %}">
            </a>
        </div>

    </div>
</div>
<script src="{% static 'js/projects.js' %}"></script>
{% endblock %}