{% extends 'app_users/base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--STASH -------------------------  -->
<link href="{% static 'css/stash.css' %}" rel="stylesheet">

<div class="stash" id="app">
    <div class="topnav">
        <img @click="showMenu = true" src="{% static 'images/settings.svg' %}">
        <div class="menu-overlay" v-if="showMenu" @click="showMenu = false"></div>
        <div class="modal" v-show="showMenu">
            {% csrf_token %}
            <a href="/settings" id="settings">Settings</a><br>
            <a href="/logout/">Log Out</a>
        </div>

        <h1><i>stash</i></h1>
        <img src="{% static 'images/fiber-amie-icon.png' %}">
    </div>

    <!-- ADD YARN BUTTON AND FORM  -->
    <button class="button" @click="showModal = true">
        Add Yarn
    </button>
    <div class="modal-overlay" v-if="showModal" @click="showModal = false"></div>
    <div class="form-modal" v-show="showModal">
        <form @submit.prevent="addYarn">
            {% csrf_token %}
            <label for="name">Yarn Brand & Name</label><br>
            <input v-model="name" type="name" id="name"><br>
            <label for="fiber_type">Fiber Type</label><br>
            <input v-model="fiber_type" type="fiber_type" id="fiber_type"><br>
            <label for="colorway">Colorway</label><br>
            <input v-model="colorway" type="colorway" id="colorway"><br>
            <label for="skeins"># of Skeins</label><br>
            <input v-model="skeins" type="skeins" id="skeins"><br>
            <label for="yardage">Total Yardage</label><br>
            <input v-model="yardage" type="yardage" id="yardage"><br>
            <label for="yarn_weight">Yarn Weight/Category</label><br>
            <input v-model="yarn_weight" type="yarn_weight" id="yarn_weight"><br>
            <label for="image">Image</label><br>
            <input @change="imageSelected" type="file" id="image"><br>
            <label for="notes">Notes</label><br>
            <input v-model="notes" type="notes" id="notes"><br>
        </form>
        <button type="submit" class="button" @click="showModal = false; addYarn()">
            Submit
        </button>
    </div>

    {% if user.is_authenticated %}
    <!-- STASH LIST  -->
    <h4><i>Your current stash</i></h4>
    <div class="yarn-list">
        <div class="yarn-card" v-for="yarn in yarns">
            <div class="yarn-image">
                <img class="cover" id="stash-img" :src="[[ yarn.image ]]"
                    @click="getYarnDetail(yarn); showDetails = true"><br>
                <div class="yarn-details" v-if="showDetails" @click="showDetails = false"></div>
            </div>
            <div class="yarn-card-inner">
                <p>[[ yarn.name ]]<br>"[[ yarn.colorway ]]", [[ yarn.yarn_weight ]] weight
                </p>
                <button @click="deleteYarn(yarn)" type="button" id="delete-yarn">&#10005;</button>
            </div>
        </div>
        <div class="yarn-modal" v-show="yarn.showDetails">
            <div class="stash-overflow">
                <button class="button" @click="closeDetails">
                    Back
                </button>
                <div v-if="yarn.image">
                    <img class="cover" id="stash-detail-img" :src="[[ yarn.image ]]">
                </div>
                <p v-else>Add an image!</p>

                <h4>Brand/name</h4>
                <p v-if="yarn.name">[[yarn.name]]</p>
                <p v-if="yarn.colorway">colorway: [[yarn.colorway]]</p>
                <p v-else>no data</p>

                <h4>Fiber</h4>
                <p v-if="yarn.fiber_type">[[yarn.fiber_type]]</p>
                <p v-else>no fiber data</p>

                <h4>Skeins & Yardage</h4>
                <p v-if="yarn.skeins">[[yarn.skeins]] skein(s)</p>
                <p v-else></p>
                <p v-if="yarn.yardage">[[yarn.yardage]] yards</p>
                <p v-else>no yardage data</p>

                <h4>Weight</h4>
                <p v-if="yarn.yarn_weight">[[yarn.yarn_weight]] weight</p>
                <p v-else>no weight data</p>

                <h4>Notes</h4>
                <p v-if="yarn.notes">[[yarn.notes]]</p>
                <p else>no notes</p>

            </div>
        </div>
    </div>
    {% endif %}
    <!-- BOTTOM NAV  -->
    <div class="navbar">
        <div class="icon">
            <a href="/home">
                <img src="{% static 'images/home.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/search">
                <img src="{% static 'images/search.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'images/projects.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/stash">
                <img src="{% static 'images/stash.png' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/tools">
                <img src="{% static 'images/needles.png' %}">
            </a>
        </div>

    </div>
</div>
<script src="{% static 'js/stash.js' %}"></script>
{% endblock %}