{% extends 'app_users/base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--STASH -------------------------  -->
<link href="{% static 'css/stash.css' %}" rel="stylesheet">

<div class="stash" id="app">
    <div class="topnav">
        <img @click="showMenu = true" id="settings-mobile" src="{% static 'images/settings.svg' %}">
        <div class="menu-overlay" v-if="showMenu" @click="showMenu = false"></div>
        <div class="modal" v-show="showMenu">
            {% csrf_token %}
            <a href="/settings" id="settings">Settings</a><br>
            <a href="/logout/">Log Out</a>
        </div>
        <!-- <img id="logo" src="{% static 'images/text-logo.png' %}"> -->
        <h1><i>stash</i></h1>
        <img id="mini-logo" src="{% static 'images/fiber-amie-icon.png' %}">
    </div>

    <!-- ADD YARN BUTTON AND FORM  -->
    <button class="button" @click="showModal = true">
        Add Yarn
    </button>
    <div class="modal-overlay" v-if="showModal" @click="showModal = false"></div>
    <div class="form-modal" v-show="showModal">
        <form @submit.prevent="addYarn">
            {% csrf_token %}
            <label for="name">Yarn Brand & Name</label><br>
            <input v-model="name" type="name" id="name"><br>
            <label for="fiber_type">Fiber Type</label><br>
            <input v-model="fiber_type" type="fiber_type" id="fiber_type"><br>
            <label for="colorway">Colorway</label><br>
            <input v-model="colorway" type="colorway" id="colorway"><br>
            <label for="skeins"># of Skeins</label><br>
            <input v-model="skeins" type="skeins" id="skeins"><br>
            <label for="yardage">Total Yardage</label><br>
            <input v-model="yardage" type="yardage" id="yardage"><br>
            <label for="yarn_weight">Yarn Weight/Category</label><br>
            <select v-model="yarn_weight" id="yarn_weight">
                <option value="lace">Lace</option>
                <option value="fingering">Fingering</option>
                <option value="sport">Sport</option>
                <option value="dk">DK</option>
                <option value="worsted">Worsted/Aran</option>
                <option value="bulky">Bulky</option>
                <option value="super-bulky">Super Bulky</option>
                <option value="jumbo">Jumbo</option><br>
                <br>
            <label for="image">Image</label><br>
            <input @change="imageSelected" type="file" id="image"><br>
            <label for="notes">Notes</label><br>
            <input v-model="notes" type="notes" id="notes"><br>
        </form>
        <button type="submit" class="form-button" @click="showModal = false; addYarn()">
            Submit
        </button>
    </div>

    {% if user.is_authenticated %}
    <!-- STASH LIST  -->

    <!-- search  -->
    <div class="search">
        <h4><i>Your current stash</i></h4>
        <form @submit.prevent="submitSearch">
            <input type="text" v-model="search">
            <button class="search-button" @click="submitSearch">Search</button>
        </form>
    </div>

    <div class="yarn-list">
        <div class="yarn-card" v-for="yarn in yarns">
            <div>
                <img class="cover" id="stash-img" :src="[[ yarn.image ]]"
                    @click="getYarnDetail(yarn); showDetails = true"><br>
                <div class="yarn-details" v-if="showDetails" @click="showDetails = false"></div>
            </div>
            <div class="yarn-card-inner">
                <p>[[ yarn.name ]]<br>"[[ yarn.colorway ]]", [[ yarn.yarn_weight ]] weight
                </p>
                <button @click="deleteYarn(yarn)" type="button" id="delete-yarn">&#10005;</button>
            </div>
        </div>

        <!-- DETAILS MODAL  -->
        <div class="yarn-modal" v-show="yarn.showDetails">
            <div class="stash-overflow">
                <div class="stash-info">
                    <button class="button" id="back-button" @click="closeDetails">
                        Back
                    </button>
                    <div v-if="yarn.image" id="yarn-image">
                        <img class="cover" id="stash-detail-img" :src="[[ yarn.image ]]">
                    </div>
                    <p v-else>Add an image!</p>
                </div>

                <div class="info-blocks">
                    <div class="info-block">
                        <h4>Brand/Name</h4>
                        <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">
                            <p v-if="yarn.name">[[yarn.name]]</p>
                        </span>
                        <div v-if="yarn.edit">
                            <textarea v-model="yarn.name">[[ yarn.name ]]</textarea>
                        </div>
                        <button class="edit" @click="yarn, 'edit', !yarn.edit">
                            <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">&#9998;</span>
                            <span v-if="yarn.edit" @click="saveName(yarn)">Save</span>
                        </button>
                    </div>

                    <div class="info-block">
                        <h4>Colorway</h4>
                        <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">
                            <p v-if="yarn.colorway">[[yarn.colorway]]</p>
                        </span>
                        <div v-if="yarn.edit">
                            <textarea v-model="yarn.colorway">[[ yarn.colorway ]]</textarea>
                        </div>
                        <button class="edit" @click="yarn, 'edit', !yarn.edit">
                            <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">&#9998;</span>
                            <span v-if="yarn.edit" @click="saveColorway(yarn)">Save</span>
                        </button>
                    </div>

                    <div class="info-block">
                        <h4>Fiber</h4>
                        <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">
                            <p v-if="yarn.fiber_type">[[yarn.fiber_type]]</p>
                        </span>
                        <div v-if="yarn.edit">
                            <textarea v-model="yarn.fiber_type">[[ yarn.fiber_type ]]</textarea>
                        </div>
                        <button class="edit" @click="yarn, 'edit', !yarn.edit">
                            <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">&#9998;</span>
                            <span v-if="yarn.edit" @click="saveFiberType(yarn)">Save</span>
                        </button>
                    </div>

                    <div class="info-block">
                        <h4>Skein(s)</h4>
                        <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">
                            <p v-if="yarn.skeins">[[yarn.skeins]] skein(s)</p>
                        </span>
                        <div v-if="yarn.edit">
                            <textarea v-model="yarn.skeins">[[ yarn.skeins ]]</textarea>
                        </div>
                        <button class="edit" @click="yarn, 'edit', !yarn.edit">
                            <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">&#9998;</span>
                            <span v-if="yarn.edit" @click="saveSkeins(yarn)">Save</span>
                        </button>
                    </div>

                    <div class="info-block">
                        <h4>Yardage</h4>
                        <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">
                            <p v-if="yarn.yardage">[[yarn.yardage]] yards</p>
                        </span>
                        <div v-if="yarn.edit">
                            <textarea v-model="yarn.yardage">[[ yarn.yardage ]]</textarea>
                        </div>
                        <button class="edit" @click="yarn, 'edit', !yarn.edit">
                            <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">&#9998;</span>
                            <span v-if="yarn.edit" @click="saveYardage(yarn)">Save</span>
                        </button>
                    </div>

                    <div class="info-block">
                        <h4>Weight Category</h4>
                        <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">
                            <p v-if="yarn.yarn_weight">[[yarn.yarn_weight]] weight</p>
                        </span>
                        <div v-if="yarn.edit">
                            <textarea v-model="yarn.yarn_weight">[[ yarn.yarn_weight ]]</textarea>
                        </div>
                        <button class="edit" @click="yarn, 'edit', !yarn.edit">
                            <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">&#9998;</span>
                            <span v-if="yarn.edit" @click="saveYarnWeight(yarn)">Save</span>
                        </button>
                    </div>

                    <div class="info-block">
                        <h4>Notes</h4>
                        <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">
                            <p v-if="yarn.notes">[[yarn.notes]]</p>
                        </span>
                        <div v-if="yarn.edit">
                            <textarea v-model="yarn.notes">[[ yarn.notes ]]</textarea>
                        </div>
                        <button class="edit" @click="yarn, 'edit', !yarn.edit">
                            <span v-if="!yarn.edit" @click="yarn.edit = !yarn.edit">&#9998;</span>
                            <span v-if="yarn.edit" @click="saveNotes(yarn)">Save</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- BOTTOM NAV  -->
    <div class="navbar">
        <div class="icon">
            <a href="/home">
                <img src="{% static 'images/home.svg' %}">
                <p id="nav-text">Home</p>
            </a>
        </div>
        <div class="icon">
            <a href="/counter">
                <img src="{% static 'images/counter.svg' %}">
                <p id="nav-text">Counter</p>
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'images/projects.svg' %}">
                <p id="nav-text">Projects</p>
            </a>
        </div>
        <div class="stash-icon">
            <a href="/stash">
                <img src="{% static 'images/stashactive.svg' %}">
                <p id="nav-text">Stash</p>
            </a>
        </div>
        <div class="icon">
            <a href="/tools">
                <img src="{% static 'images/tools.svg' %}">
                <p id="nav-text">Tools</p>
            </a>
        </div>
        <div class="icon" id="settings-desktop">
            <a href="/settings">
                <img src="{% static 'images/settings.svg' %}">
                <p id="nav-text">Settings</p>
            </a>
        </div>
    </div>

    <div class="footer">
        <div class="footer-contents">
            <p>FiberAmie &copy; 2022</p>
        </div>
    </div>
    {% endif %}
</div>
<script src="{% static 'js/stash.js' %}"></script>
{% endblock %}