{% extends 'app_users/base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--TOOLS -------------------------  -->
<link href="{% static 'css/tools.css' %}" rel="stylesheet">

<div class="tools" id="app">

    <!-- TOP NAV  -->
    <div class="topnav">
        <img @click="showMenu = true" id="settings-mobile" src="{% static 'images/settings.svg' %}">
        <div class="menu-overlay" v-if="showMenu" @click="showMenu = false"></div>
        <div class="modal" v-show="showMenu">
            {% csrf_token %}
            <a href="/settings" id="settings">Settings</a><br>
            <a href="/logout/">Log Out</a>
        </div>
        <!-- <img id="logo" src="{% static 'images/text-logo.png' %}"> -->
        <h1><i>tools</i></h1>
        <img id="mini-logo" src="{% static 'images/fiber-amie-icon.png' %}">
    </div>

    <!-- ADD NEEDLES BUTTON AND FORM -->
    <div class="tool-buttons">
        <button class="button" @click="showModal = true">
            Add Needles
        </button>
        <div class="modal-overlay" v-if="showModal" @click="showModal = false"></div>
        <div class="form-modal" v-show="showModal">
            <form @submit.prevent="addNeedles">
                {% csrf_token %}
                <label for="size">Needle size (US)</label><br>
                <input v-model="size" type="size" id="size"><br>
                <label for="length">Needle length (inches)</label><br>
                <input v-model="length" type="length" id="length"><br>
                <label for="brand">Brand</label><br>
                <input v-model="brand" type="brand" id="brand"><br>
            </form>
            <button type="submit" class="form-button" @click="showModal = false; addNeedles()">
                Submit
            </button>
        </div>
        <!-- ADD HOOKS BUTTON AND FORM -->
        <button class="button" @click="showModal2 = true">
            Add Hooks
        </button>
        <div class="modal-overlay" v-if="showModal2" @click="showModal2 = false"></div>
        <div class="form-modal" v-show="showModal2">
            <form @submit.prevent="addHooks">
                {% csrf_token %}
                <label for="size">Hook size (mm)</label><br>
                <input v-model="size" type="size" id="size"><br>
                <label for="brand">Brand</label><br>
                <input v-model="brand" type="brand" id="brand"><br>
            </form>
            <button type="submit" class="form-button" @click="showModal2 = false; addHooks()">
                Submit
            </button>
        </div>
    </div>

    <!-- TOOLS LIST  -->
    {% if user.is_authenticated %}

    <!-- NEEDLES  -->
    <h4><i>Your needles</i></h4>
    <div class="table">
        <table>
            <tr>
                <th>Size (US)</th>
                <th>Size (mm)</th>
                <th>Length (in)</th>
                <th>Brand</th>
                <th>Delete</th>
            </tr>
            <tr v-for="needle in needles" :key="needle._id">
                <td>[[ needle.size ]]</td>
                <td>[[ needle_sizes[needle.size] ]]</td> <!-- want to grab value of needle.size from sizes dictionary -->
                <td>[[ needle.length ]]</td>
                <td>[[ needle.brand ]]</td>
                <td><button @click="deleteNeedles(needle)" type="button" id="delete-needle">&#10005;</button></td>
            </tr>
        </table>
    </div>

    <!-- HOOKS  -->
    <h4><i>Your hooks</i></h4>
    <div class="table">
        <table>
            <tr>
                <th>Size (US)</th>
                <th>Size (mm)</th>
                <th>Brand</th>
                <th>Delete</th>
            </tr>
            <tr v-for="hook in hooks" :key="hook._id">
                <td>[[ hook_sizes[hook.size] ]]</td>
                <td>[[ hook.size ]]</td>
                <td>[[ hook.brand ]]</td>
                <td><button @click="deleteHooks(hook)" type="button" id="delete-hook">&#10005;</button></td>
            </tr>
        </table>
    </div>

    <!-- BOTTOM NAV -->
    <div class="navbar">
        <div class="icon">
            <a href="/home">
                <img src="{% static 'images/home.svg' %}">
                <p id="nav-text">Home</p>
            </a>
        </div>
        <div class="icon">
            <a href="/counter">
                <img src="{% static 'images/counter.svg' %}">
                <p id="nav-text">Counter</p>
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'images/projects.svg' %}">
                <p id="nav-text">Projects</p>
            </a>
        </div>
        <div class="icon">
            <a href="/stash">
                <img src="{% static 'images/stash.svg' %}">
                <p id="nav-text">Stash</p>
            </a>
        </div>
        <div class="tools-icon">
            <a href="/tools">
                <img src="{% static 'images/toolsactive.svg' %}">
                <p id="nav-text">Tools</p>
            </a>
        </div>
        <div class="icon" id="settings-desktop">
            <a href="/settings">
                <img src="{% static 'images/settings.svg' %}">
                <p id="nav-text">Settings</p>
            </a>
        </div>
    </div>
    <div class="footer">
        <div class="footer-contents">
            <p>FiberAmie &copy; 2022</p>
        </div>
    </div>
    {% endif %}
</div>
<script src="{% static 'js/tools.js' %}"></script>
{% endblock %}