{% extends 'app_users/base_layout.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!--TOOLS -------------------------  -->
<link href="{% static 'base.css' %}" rel="stylesheet">

<div class="tools" id="app">
   
        <div class="topnav">
            <a href="/settings">
                <img src="{% static 'settings.svg' %}">
            </a>
            <h1><i>tools</i></h1>
            <img src="{% static 'fiber-amie-icon.png' %}">
    
        </div>
        <h4><i>Add more needles</i></h4>
        {% csrf_token %}
        <form @submit.prevent="addNeedles">
            <label for="size">Needle size (US)</label>
            <input v-model="size" type="size" id="size"><br>
            <label for="length">Needle length (inches)</label>
            <input v-model="length" type="length" id="length"><br>
            <label for="brand">Brand</label>
            <input v-model="brand" type="brand" id="brand">
            <br>
            <input type="submit" value="Add Needle">
        </form>

        <h4><i>Your needles</i></h4>
        <div class="tool-list" v-for="needle, index in needles">
            {% csrf_token %}
              <p>[[ needle.size ]], [[ needle.brand ]]</p>
              <button @click="deleteNeedles(index)" type="button">Delete</button>
        </div>

    

    <div class="navbar">
        <div class="icon">
            <a href="/home">
                <img src="{% static 'home.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/search">
                <img src="{% static 'search.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/projects">
                <img src="{% static 'projects.svg' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/stash">
                <img src="{% static 'stash.png' %}">
            </a>
        </div>
        <div class="icon">
            <a href="/tools">
                <img src="{% static 'needles.png' %}">
            </a>
        </div>

    </div>
</div>
<script src="{% static 'script.js' %}"></script>
{% endblock %}